.main{
    height: 80vh;
    width: 100%;
    background: #DDF0C6;
}

.main-container{
    text-align: center;
    width: 362px;
    height: 456px;
    background: #FAF1E4;
    border: 2px solid #735240;
}

.image{
    margin: 50px auto;
    height: 100px;
    width: 100px;
    background: black;
}