.home-main {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  height: 70vh;
  justify-content: center;
  margin-bottom: 40vh;
}

.current-date {
  width: 100vh;
  margin-bottom: 20px;
}

.home-wrap {
  width: 90vw;
  height: 400px;
  padding: 20px;
}