.howtoplay-wrap {
  margin-bottom: 20vh;
}

.howtoplay-title {
  text-align: center;
  padding-top: 20px;
}

.howtoplay-p {
  font-size: 16px;
  margin-left: 3vw;
  margin-right: 3vw;
  line-height: 1.5;
}

.textred {
  color: red;
}