/* 共通CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "yomogi";
  src: url("./components/fonts/TsukimiRounded-Light.ttf");
}

:root {
  font-family: "yomogi";
}