/* 共通CSS */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 下に行くほど太くなります */
@font-face {
  font-family: "yomogi-regular";
  src: url("./components/fonts/TsukimiRounded-Regular.ttf");
}

@font-face {
  font-family: "yomogi-medium";
  src: url("./components/fonts/TsukimiRounded-Medium.ttf");
}

@font-face {
  font-family: "yomogi-semibold";
  src: url("./components/fonts/TsukimiRounded-SemiBold.ttf");
}

:root {
  font-family: "yomogi-medium";
}